[submodule "Externals/Qt"]
	path = Externals/Qt
	url = https://github.com/dolphin-emu/ext-win-qt.git
	branch = master
[submodule "Externals/SlippiRustExtensions"]
	path = Externals/SlippiRustExtensions
	url = https://github.com/project-lylat/slippi-rust-extensions.git
	branch = "v3.2.2"
